*{
	
}
body{
	background-color:#F5F5F5;
}
.cart_section{
	margin:2% 5% 2% 5%;
	background-color:#F5F5F5;
	display:flex;
}
.Cart_Tab1{
	background-color:White;
	margin-top:1%;
	width:70%;
	padding-top:2%;
	padding-left:1%;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), 0 2px 2px rgba(0, 0, 0, 0.2);
	
}
.Cart_Tab2{
	margin-top:1%;
	margin-left:2%;
	width:30%;
	
}
.Cart_element{
	background-color:White;
	margin-top:2%;
	padding-left:3%;
	padding-top:2%;
	padding-right:3%;
	padding-bottom:2%;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), 0 2px 2px rgba(0, 0, 0, 0.2);
	
}
.accordion{
	margin-top:5%;
	margin-bottom:5%;
}

.item img{
	float:left;
	width:250px;
	height:200px;
	margin-left:2%;
	}
.item_info{
	padding-left:2%;
	padding-right:2%;
	padding-top:2%;
	display:flex;
	justify-content:space-between;
}
.item_size{
	padding-left:2%;
	display:flex;
	flex-direction:column;
}
.item_price{
	display:flex;
	flex-direction:row;
	justify-content:space-between;
	padding-left:2%;
	padding-right:2%;
}
a{
	color:black;
	text-decoration: none;
}

.a3{
	color:red;
}
.page-link{
	line-height:16px;
	width:45px;
	font-size:1rem;
	color:#495057;
	display:flex;
	justify-content:center;
}
.page-item input{
	line-height:22px;
	padding:3px;
	font-size:15px;
	display:flex;
	text-align:center;
	
}

.page-link:focus{
	box-shadow:none;
}
@media screen and (max-width: 800px) {
    .cart_section{
	display:flex;
	flex-direction:column;
}
.Cart_Tab1{
	width:100%;
}
.Cart_Tab2{
	margin-left:0%;
	width:100%;
}
	
}

@media screen and (max-width: 700px) {
	#a1{
		font-size:0.8rem!important;
	}
	#a2{
		font-size:0.8rem!important;
	}
	.item img {
		width:200px;
		height:170px;
	}
	.page-link{
		line-height:10px!important;
		width:20px!important;
	}
	.page-item input{
		line-height:16px!important;
		padding:2px;
		font-size:15px;
	}
}
